BODY {
	background-color:#ffd688;
	font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color:#000000;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
	margin : 0px 0px 0px 0px;
	text-align:center;
}


.Default{
	font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size : inherit;
	font-style : inherit;
	font-variant : inherit;
	font-weight : inherit;
}


.PageHeading{
	font-family : Book Antiqua, Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size : 32px;
	font-weight:bold;
	color : #bb7617;
}


.Heading{
	font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size : 18px;
	color : #bf601a;
}


.HeadingSmall{
	font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size : 13px;
	color : #bf601a;
}


.Text{
	font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size : 13px;
	font-style : inherit;
	font-variant : inherit;
	font-weight : inherit;
}


.TextSmall{
	font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size : 9px;
	font-style : inherit;
	font-variant : inherit;
	font-weight : inherit;
}


.More{
	font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #b14e1d;
	text-decoration : none;
}


.MenuHeading{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight : bold;
	font-style : normal;
	font-variant : normal;
	color : #8f4830;
	text-decoration : none;
}

/*.MenuHeading:visited{
	color : #336699;
}

.MenuHeading:hover{
	text-decoration : underline;
	color : #780000;
}*/


.MenuItem{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight : bold;
	font-style : normal;
	font-variant : normal;
	color : #464646;
	text-decoration : none;
	line-height : 16px;
}

/*.MenuItem:visited{
	color : #336699;
}

.MenuItem:hover{
	text-decoration : underline;
	color : #780000;
}*/


.Menu{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight : bold;
	font-style : normal;
	font-variant : normal;
	color : #003366;
	text-decoration : none;
	line-height : 18px;
}

.Menu:visited{
	color : #336699;
}

.Menu:hover{
	text-decoration : underline;
	color : #780000;
}



.MainMenu{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight : bold;
	font-style : normal;
	font-variant : normal;
	color : #780000;
	text-decoration : none;
}

.MainMenu:visited{
	color : #780000;
}

.MainMenu:hover{
	background-color : #780000;
	color : #ffffff;
}



.LeftMenu{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight : normal;
	font-style : normal;
	font-variant : normal;
	color : #FFFBEC;
	text-decoration : none;
}

.LeftMenu:visited{
}

.LeftMenu:hover{
	text-decoration : underline;
	font-style : italic;
}


.BottomMenu{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	font-weight : normal;
	color : #003366;
	text-decoration : none;
}

.BottomMenu:visited{
	color : #336699;
}

.BottomMenu:hover{
	text-decoration : none;
	color : #780000;
}


.Style{
	font-family : Helvetica, Verdana, Arial, sans-serif;
	font-size: 12pt;
	font-weight : bold;
	font-style : normal;
	font-variant : normal;
	color : #663300;
}


.Style2{
	font-family : Helvetica, Verdana, Arial, sans-serif;
	font-size: 10pt;
	font-weight : normal;
	font-style : normal;
	font-variant : normal;
	color : #456061;
}


.Copyright{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : inherit;
	font-style : normal;
	font-variant : normal;
	color : #444653;
}

/*
H1, H2, H3, H4 { 
	font-variant: small-caps;
	background-color: black;
	color: white; 
	padding: 4px;
	width: 100%;
}


HR{
	color : #936A15;
	height: 2pt;
}
	
	

P, TR, TD{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 9 pt;
	font-style : inherit;
	font-variant : inherit;
	font-weight : inherit;
}

*/
TABLE {
margin-left:auto;
margin-right:auto;
}

/*
TD.Heading{
	font-size : 9pt;
	background-color : #EBEBEB;
}


A{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 9pt;
	font-style : inherit;
	font-variant : inherit;
	font-weight : inherit;
	text-decoration : none;
}
	
A:visited{
}

A:hover{
}
TABLE.M	{border:0px solid;}
*/
A{
	font-size : 9pt;
	text-decoration : none;
}


.TextTable{
	font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size : 13px;
	font-style : inherit;
	font-variant : inherit;
	font-weight : inherit;
}

.TextTable{
	font-family : Verdana, Tahoma, Arial, Helvetica, sans-serif;
	border-left: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
	width: 100%;
}
.TextTable td{
	padding: 2px 2px 2px 5px;
	border-bottom: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
}
.TextTable th{
	padding: 2px 2px 2px 5px;
	border-bottom: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
	background-color: #FFFFFF;
	color : #bf601a;
	text-align: left;
}

.coloumn1 {
	background-color:#FFCC99;
		font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight : bold;
	font-style : normal;
	font-variant : normal;
	color : #003366;
	text-decoration : none;
	line-height : 18px;
}

.coloumn2 {
	background-color:#FFFFCC;
		font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight : bold;
	font-style : normal;
	font-variant : normal;
	color : #003366;
	text-decoration : none;
	line-height : 18px;
}

.coloumn1header{
background-color:#66FF99;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight : bold;
	font-style : normal;
	font-variant : normal;
	color : #780000;
	text-decoration : none;
}
.coloumn2header{
background-color:#66FF99;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight : bold;
	font-style : normal;
	font-variant : normal;
	color : #780000;
	text-decoration : none;
}